<!DOCTYPE html>
<html>
    <head>
        <title>Product App</title>
    </head>
    <body>
        <div class="nav-bar"></div>
        <div id="app">
            <div class="product">
                <div class="product-image">
                    <img :src="image" style="height: 100px"/>
                </div>
                <div class="product-info">
                    <h1>{{ product }}</h1>
                    <p v-if="inStock">In Stock</p>
                    <p v-else>Out of Stock</p>
                    <ul>
                        <!-- details is the variable, and detail is the item 'alias' in the array -->
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</html>